<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="{{ asset('css/tuto.css') }}" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>Tutoriel</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body>
<section id="header">
    <div id="ie4h" class="container">
        <h1 id="if54" data-anim-type="fadeInUp" class="gpd-header animate__animated animate__backInDown">Emploi du temps
        </h1>
        <h1 id="id2rn" data-anim-type="fadeInUp" class="gpd-header animate__animated animate__backInUp">Modifier un cours
        </h1>
    </div>
</section>
<br><br>
<div class="contain">
    <div class="nav animate__animated animate__zoomIn">
        <h1 style="margin-left: 15px;">Sommaire</h1>
        <ul id="sommaire">
            <li style="list-style: none">
                <a accesskey="video" href="#video">Vidéo</a>
            </li>
            <li style="list-style: none">
                <a  accesskey="login" href="#login">Se connecter</a>
            </li>
            <li style="list-style: none">
                <a  accesskey="edt" href="#edt">Emploi du temps</a>
            </li>
            <li style="list-style: none">
                <a accesskey="nav" href="#nav">Naviguer</a>
            </li>
            <li style="list-style: none">
                <a  accesskey="edit" href="#edit">Menu modification</a>
            </li>
            <li style="list-style: none">
                <a accesskey="put" href="#put">Modifier</a>
            </li>
        </ul>
    </div>
    <div class="tuto">
        <div class="desc animate__animated">
            <h2 id="video">Vidéo explicative</h2>
            <div class="img animate__animated ">
            <video width="800" height="500" controls poster="{{ asset('img/Tuto-com.png') }}">
                <source src="{{ asset('projets.mp4') }}" type="video/mp4">
                Votre moteur de recherche ne supporte pas la vidéo
            </video>
            </div>
            </div>
        <hr>
                <h1 style="text-align: center;font-size: 50px;">Explications détaillées</h1>
        <div class="desc"></div>
        <div class="desc">
            <h2 id="login">Se connecter</h2>
            <ol>
                <li>Allez sur la page d'accueil du <a href="{{ path('app_home') }}" target="_blank">site.</a></li>
                <li>Cliquez sur le menu en haut à gauche puis sur "mon espace".</li>
                <div class="img">
                    <img class="tuto" src="{{ asset('img/home.png') }}" alt="Page d'accueil du site">
                </div>
                <li>Connectez vous.</li>
                <div class="img">
                    <img class="tuto" src="{{ asset('img/login.png') }}" alt="Page d'accueil login">
                </div>
                <div class="img">
                    <img class="tuto" src="{{ asset('img/logged.png') }}" alt="Page d'accueil une fois connecté">
                </div>
            </ol>
        </div>
        <hr>
        <div class="desc">
            <h2 id="edt">Accèder à l'emploi du temps</h2>
            <ol>
                <li style="list-style: none">Cliquez sur "Emploi du temps".</li>
                    <div class="img">
                        <img class="tuto" src="{{ asset('img/click.png') }}" alt="Page d'accueil montrant où cliquer pour accèder à l'emploi du temps">
                    </div>
                <div class="img">
                    <img class="tuto" src="{{ asset('img/result.png') }}" alt="Page emploi du temps">

                </div>
            </ol>

        </div>
        <hr>

        <div class="desc">
            <h2 id="nav">Navigation vers la date du cours.</h2>
            <p style="margin-left: 15px;">Les flèches <span class="material-symbols-outlined edt">first_page</span>   <span class="material-symbols-outlined edt">last_page</span> changent la semaine.</p>
            <p style="margin-left: 15px;">Les flèches <span class="material-symbols-outlined edt">arrow_back</span>   <span class="material-symbols-outlined edt">arrow_forward</span> changent le jour.</p>
            <ol>
                <li style="list-style: none"><strong>Utilisez ces flèches pour vous rendre vers la date où votre cours se tient.</strong></li>
                <div class="img">
                    <img class="tuto" src="{{ asset('img/nav.png') }}" alt="Page emploi du temps montrant les fleches de navigation">
                </div>
            </ol>
        </div>
        <hr>

        <div class="desc">
            <h2 id="edit">Modification du cours</h2>
            <ol>
                <li style="list-style: none">Cliquez sur le crayon.</li>
                <br><br><BR>
                <div class="img">
                    <img class="tuto" src="{{ asset('img/pen.png') }}" alt="Page emploi du temps montrant où cliquer pour modifier le cours">
                </div>
            </ol>
        </div>
        <hr>

        <div class="desc">
            <h2 id="put">Mettre les valeurs souhaitées</h2>
            <ol>
                <li><strong>Mettez les horaires désirés.</strong></li>
                <div class="img">
                    <img class="tuto" src="{{ asset('img/horaires.png') }}" alt="Page de modification">
                </div>
                <li>Une fois que vos valeurs sont rentrées, appuyez sur <strong>Modifier.</strong></li>
                <div class="img">
                    <img class="tuto" src="{{ asset('img/chkpng.png') }}" alt="Page de modification avec indication sur le bouton modifier">
                </div>
                <li>Vérifiez la saisie.</li>
                <div class="img">
                    <img class="tuto" src="{{ asset('img/chk2.png') }}" alt="Page de vérification de la modification">
                </div>
            </ol>
        </div>
    </div>
</div>
<script>
    let a= document.querySelector('ul#sommaire').children
    let b=Array.from(a).map((li)=>li.children[0]);
    const io = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            const id=entry.target.id;
            console.log(entry.intersectionRatio,id)
            if (entry.intersectionRatio > 0) {
                b.forEach((a)=>{
                if (a.accessKey === id)
                {
                    a.classList.add('active')
                }
                else{
                    a.classList.remove('active')
                }
            })
        }
    })})
    const boxElList = document.querySelectorAll('h2');
    boxElList.forEach((el) => {
        io.observe(el);
    })
</script>
</body>
</html>
