{% extends 'base.html.twig' %}

{% set title = "Ajout d'un sujetTER" %}

{% block title %} {{ title }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/sujetTer.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h1> {{ title }} </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-success" value="Créer" />
    {{ form_end(form) }}



{% endblock %}