{% extends 'base.html.twig' %}

{% set title = 'Liste des Sujets TER' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/sujetTer.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}

{% if etudiant %}
    {% set usr = etudiant %}
    {% set sujetEtudiant = etudiant.sujetTERs|first %}
{% else %}
    {% set usr = enseignant %}
    {% set sujetEtudiant = null %}
{% endif %}

{% block body %}

    {% include 'navbar.html.twig' %}
    <div class="space"></div>

    {% if sujetEtudiant %}
        {{ include('sujet_ter/_etudRegister.html.twig') }}
    {% endif %}


    {% if not sujetEtudiant  %}
        <h1>{{ title }}</h1>

        {% if is_granted('ROLE_ENSEIGNANT') or is_granted('ROLE_ADMIN,ROLE_ENSEIGNANT') %}
            <a class="btn btn-dark"  href="{{ path('app_sujetter_create') }}" > Ajouter un nouveau sujet</a>
        {% endif %}

        {% if is_granted('ROLE_ETUDIANT') and sujetEtudiant %}
            {{ sujetEtudiant.titreTer }}
        {% endif %}


        <div class="listeSujet">
            <div class="accordion" id="sujetTERAccordeon">

        {% for sujet in sujetsTER %}
            {% if is_granted('ROLE_ENSEIGNANT') or is_granted('ROLE_ADMIN,ROLE_ENSEIGNANT') or is_granted('ROLE_ETUDIANT') and etudiant.niveau is same as(sujet.niveau) %}
                <div class="sujetTer">
                    <div class="" type="button" data-toggle="collapse" data-target="#collapse{{ sujet.id }}" aria-expanded="true" aria-controls="collapse{{ sujet.id }}" id="header{{ sujet.id }}">
                        <div class="element_sujetTer">
                            <div class="param">{{ sujet.titreTer | capitalize }}</div>
                        </div>
                        <div class="element_sujetTer">
                            <div class="param">&nbsp Encadrant : </div>
                            {{ sujet.enseignant.nomEn | upper }} {{ sujet.enseignant.pnomEn }}
                        </div>
                        {% if is_granted('ROLE_ENSEIGNANT') or is_granted('ROLE_ADMIN,ROLE_ENSEIGNANT')%}
                            <div class="element_sujetTer">
                                <div class="param">&nbsp Niveau : </div>
                                {{ sujet.niveau.libNiv }}
                            </div>
                        {% endif %}
                    </div>

                    {% if sujet.etudiant is not null %}
                        <div class="badge bg-secondary"> <div class="param"> Inscrit : </div>{{ sujet.Etudiant.nomEtud|upper }} {{ sujet.Etudiant.pnomEtud }}</div>
                    {% endif %}

                    <div id="collapse{{ sujet.id }}" class="collapse" aria-labelledby="header{{ sujet.id }}" data-parent="#sujetTERAccordeon">
                        <div class="card-body">
                            <hr>
                            <div class="param">Description du sujet :</div> <div class="description_sujetTer"> {{ sujet.descTer }}</div>

                            <!-- gestion de la mofification et de la suppressions -->
                            {% if is_granted('ROLE_ENSEIGNANT') and sujet.enseignant.id == usr.id or is_granted('ROLE_ADMIN,ROLE_ENSEIGNANT')%}
                                <div class="modifbtn">
                                    <a class="btn btn-primary" href="{{ path('app_sujetter_update', {'id': sujet.id }) }}" >Modifier</a>
                                    <!-- Bouton pour ouvrir le Modale de suppression de sujet TER -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ sujet.id }}" data-whatever="@{{ sujet.id }}" >
                                        Supprimer
                                    </button>
                                    <!-- Le Modale de suppression de sujet TER -->
                                    <div class="modal" id="{{ sujet.id }}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">{{ sujet.titreTer }}</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    Êtes-vous sûr de vouloir supprimer ce sujet TER ?
                                                    {% if sujet.etudiant %}
                                                        <div class="etudiantWarning">
                                                            Attention : l'étudiant {{ sujet.Etudiant.nomEtud|upper }} {{ sujet.Etudiant.pnomEtud }} est inscrit à ce sujet !
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-danger" href="{{ path('sujetter_delete', {'id': sujet.id } )}}" >Supprimer</a>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <!-- gestion de l'inscription -->
                            {% if is_granted('ROLE_ETUDIANT') and sujet.etudiant is null %}
                                <!-- Bouton pour ouvrir le Modale d'inscription -->
                                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#{{ sujet.id }}" data-whatever="@{{ sujet.id }}" >
                                    S'inscrire
                                </button>
                                <!-- Le Modale d'inscription-->
                                <div class="modal" id="{{ sujet.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">{{ sujet.titreTer | capitalize }}</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sûr de vouloir vous inscrire à ce sujet TER ?
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-success" href="{{ path('sujetter_register', {'id': sujet.id } )}}" >Valider</a>
                                                <a class="btn btn-outline-secondary" data-dismiss="modal">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}


                        </div>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
