{% extends 'base.html.twig' %}

{% block title %}Liste des Sujets TER{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/sujetTer.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}

{% if etudiant %}
    {% set usr = etudiant %}
    {% set groupe = usr.groupeEtudiants|first %}
{% else %}
    {% set usr = enseignant %}
{% endif %}

{% block body %}

    {% include 'navbar.html.twig' %}
    <div class="space"><br>.<br>.<br>.<br>.<br></div>
    {% if is_granted('ROLE_ENSEIGNANT') %}
        <a class="btn btn-dark"  href="{{ path('app_sujetter_create') }}" > Ajouter un nouveau sujet</a>
    {% endif %}

    {% for sujet in sujetsTER %}
            {% if is_granted('ROLE_ENSEIGNANT') or is_granted('ROLE_ETUDIANT') and groupe.niveau is same as(sujet.niveau) %}
            <div class="sujetTer">
                <div class="element_sujetTer">
                    <div class="param">{{ sujet.titreTer }}</div>
                </div>
                <div class="element_sujetTer"><div class="param">Encadrant : </div>{{ sujet.enseignant.nomEn | upper }} {{ sujet.enseignant.pnomEn }}</div>
                <div class="description_sujetTer"> <div class="param">Description : </div>{{ sujet.descTer }}</div>
            {% if sujet.etudiant is not null %}
                    <div class="badge bg-secondary"> <div class="param"> Inscrit : </div>{{ sujet.Etudiant.nomEtud }}</div>
            {% endif %}

                {% if is_granted('ROLE_ENSEIGNANT') and sujet.enseignant.id == usr.id %}
                    <div class="modifbtn">
                    <a class="btn btn-primary" href="{{ path('app_sujetter_update', {'id': sujet.id }) }}" >Modifier</a>
                        <!-- Bouton pour ouvrir le Modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ sujet.id }}" data-whatever="@{{ sujet.id }}" >
                            Supprimer
                        </button>
                        <!-- Le Modal -->
                        <div class="modal" id="{{ sujet.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">{{ sujet.titreTer }}</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer ce sujet TER ?
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-danger" href="{{ path('sujetter_delete', {'id': sujet.id } )}}" >Supprimer</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% endif %}
    {% endfor %}
{% endblock %}
