{% extends 'base.html.twig' %}

{% if contact is defined %}
    {%set var=[type ,' de ',contact.lastname ,', ',contact.firstname ]|join%}
{% else %}
    {%set var="Création d'un nouveau contact" %}
{% endif %}
{% block title %}{{ var }}{%endblock %}
{% block body %}
    <h1>{{ var }}</h1>
    {{ form_start(form, {'attr': {'class': 'flex-column'}}) }}
    Nom de famille{{ form_widget(form.lastname)}}<br>
    Prénom {{ form_widget(form.firstname) }}<br>
    Email {{ form_widget(form.email) }}<br>
    Télephone{{ form_widget(form.phone) }}<br>
    Catégorie {{ form_widget(form.category) }}<br>
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}<br>
{% endblock %}
