{% extends 'baseprofile.html.twig' %}

{% block title %}Bienvenue {{ profile.nomEnt }}{% endblock %}
{% block body %}

    <h1>{{ profile.nomEnt }}</h1>
   <h2>Réferent : <strong>{{ profile.nomRef }}</strong></h2>
    <h4>Tel : {{ profile.telEnt }}</h4>
    </div>
    <hr>
    <div class="bot">
        <a href={{ path('app_entreprise_update')}}>Modifier mes informations personnelles</a>
{% endblock %}
