{% extends 'base.html.twig' %}
{% block title %}Modification{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="form">
    <div class="info">
    <h1>Modification des données de l'entreprise {{ profile.nomEnt }}</h1>
    {% include 'useravatar.html.twig' %}
    </div>
    <BR>
    {{ form_start(form, {'attr': {'class': 'flex-column formulaire'}}) }}
    <p>Nom de l'entreprise</p> {{ form_widget(form.nomEnt)}}<br>
    <p>Nom et prénom du réferent</p>  {{ form_widget(form.nomRef) }}<br>
    <p>email</p>  {{ form_widget(formUser.email) }}<br>
    {{ form_end(form) }}
</div>
{% endblock %}
