{% extends 'base.html.twig' %}
{% block title %}Modification{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="info">
    <h1>Modification des données de l'entreprise {{ profile.nomEnt }}</h1>
    {% if avatar!=null %}
        <img src="data:image/png;base64,{{ avatar.avatar }}" alt="Avatar de l'utilisateur" class="avatar">
    {% else %}
        <img  src="{{ asset('img/avatar_defaut.png') }}" alt="Avatar par defaut de l'utilsateur" class="avatar">
    {% endif %}
    </div>
    <BR>
    {{ form_start(form, {'attr': {'class': 'flex-column formulaire'}}) }}
    <p>Nom de l'entreprise</p> {{ form_widget(form.nomEnt)}}<br>
    <p>Nom et prénom du réferent</p>  {{ form_widget(form.nomRef) }}<br>
    {{ form_end(form) }}
    {% include 'user.html.twig' %}
{% endblock %}
