{% extends 'base.html.twig' %}
{% block title %}Entreprise{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="form">
        <div class="info">
    {% if (profile is defined) %}
    <h1>Modification des données de l'entreprise {{ profile.nomEnt }}</h1>
    {% include 'useravatar.html.twig' %}

    {% else  %}
    <h1>Création de profile Entreprise</h1>
     {% endif %}
        </div>

        <BR>
        {{ form_start(form, {'attr': {'class': 'flex-column formulaire'}}) }}
        <p>Nom de l'entreprise</p> {{ form_widget(form.nomEnt)}}<br>
        <p>Nom et prénom du réferent</p>  {{ form_widget(form.nomRef) }}<br>
        <p>Num. Téléphone</p> {{ form_widget(form.telEnt) }}<br>
        <p>Email</p> {{ form_widget(formUser.email) }}<br>
    {% if (profile is not defined) %}
    <p>Login</p> {{ form_widget(formUser.login) }}<br>
        <p>Mot de passe</p> {{ form_widget(formUser.password) }}<br>
    {% endif %}
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>
    <script> function javascriptAlert() {
            alert("Login déja utilisé ! Veuillez en choisir un autre")
        }</script>
{% endblock %}

