{% extends 'base.html.twig' %}
{% block title %}Modification{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <h1>Modification des données de l'entreprise {{ profile.nomEnt }}</h1>
    <BR>
    {{ form_start(form, {'attr': {'class': 'flex-column formulaire'}}) }}
    <p>Nom de l'entreprise</p> {{ form_widget(form.nomEnt)}}<br>
    <p>Nom et prénom du réferent</p>  {{ form_widget(form.nomRef) }}<br>
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}<br>
{% endblock %}
