
{% extends 'base.html.twig' %}
{% block title %}Modification avatar{% endblock %}
{% block body %}
    <div class="form">
    <div class="info">
        <h1>Modification de votre avatar</h1>
    </div>
    <BR>
    {{ form_start(form)}}
        {{ form_row(form.photo)}}<br>
        {{ form_widget(form.email,{'attr':{'class':'hidden-row'}}) }}
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

