{% extends 'baseprofile.html.twig' %}
{% block title %}Bienvenue {{ profile.nomEn}}{% endblock %}
{% block body %}
    {% if script !="" %}
        <script>alert('{{ script }}');</script>
    {% endif %}
    <h1>{{ profile.nomEn|upper}} {{ profile.pnomEn }} </h1>
    <h6> {{ profile.adEn }}</h6> <p>{{ profile.cpEn }}</p>
    <p>{{ profile.villeEn }}</p>
    </div>
    <hr>
    <p><a href="{{ path('app_enseignant_update')}}">Modifier mes informations personnelles</a></p>


{% endblock %}