{% extends 'base.html.twig' %}
{% block title %}Modification{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="form">
        <div class="info">
            <h1>Modification des données de l'enseignant {{ profile.nomEn }} {{ profile.pnomEn }}</h1>
            {% include 'useravatar.html.twig' %}
        </div>
        <BR>
        {{ form_start(form, {'attr': {'class': 'flex-column formulaire'}}) }}
        <p>Adresse </p> {{ form_widget(form.adEn)}}<br>
        <p>Code Postal </p> {{ form_widget(form.cpEn)}}<br>
        <p>Ville </p> {{ form_widget(form.villeEn)}}<br>
        <p>email</p>  {{ form_widget(formUser.email) }}<br>
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>
{% endblock %}