{% include 'navbar.html.twig' %}
{% block stylesheets %}<link href="{{asset('css/contact.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />{% endblock %}
{% block body %}
<div id="header-title"><h1>Choisissez une entité à contacter </h1></div>
    <div class="liste_choix">
        <div class="top_contacts">
            <a class="choix" id="etudiant" href="{{ path('app_contact') }}"><p>Contacter un étudiant</p><span class="material-symbols-outlined">
person
</span></a>
            <a class="choix" id="groupeEtudiants" href="{{ path('app_contact') }}"><p>Contacter un groupe d'étudiants</p><span class="material-symbols-outlined">
groups
</span></a>
        </div>
        <div class="bot_contacts">
            <a class="choix" id="entreprise" href="{{ path('app_contact_entreprise') }}"><p>Contacter une entreprise</p><span class="material-symbols-outlined">
apartment
</span></a>
            <a class="choix" id="enseignant" href="{{ path('app_contact_enseignant') }}"><p>Contacter un enseignant</p><span class="material-symbols-outlined">
school
</span></a>
        </div>
    </div>
{% endblock %}
