{{ form_start(formUser, {'attr': {'class': 'flex-column formulaire'}}) }}
<p>Login</p> {{ form_widget(formUser.login)}}<br>
<p>Email</p>  {{ form_widget(formUser.email) }}<br>
{{ form_widget(formUser.submit) }}
    {{ form_end(formUser) }}