{% extends 'base.html.twig' %}

{% block title %}Liste des stages{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/stage.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}

{% if etudiant %}
    {% set usr = etudiant %}
    {% set groupe = usr.groupeEtudiants|first %}
{% else %}
    {% set usr = entreprise %}
{% endif %}

{% block body %}

    {% include 'navbar.html.twig' %}
    <div class="space"><br>.<br>.<br>.<br>.<br></div>
    {% if is_granted('ROLE_ENSEIGNANT') %}
        <a class="btn btn-dark"  href="{{ path('app_sujetter_create') }}" > Ajouter un nouveau sujet</a>
    {% endif %}

    {% for stage in stages %}
        {% if is_granted('ROLE_ENTREPRISE') or is_granted('ROLE_ETUDIANT') and groupe.niveau is same as(stage.niveau) %}
            <div class="stage">
                <div class="element_stage">
                    <div class="param">{{ stage.titreStage }}</div>
                </div>
                <div class="entreprise_stage"><div class="param">Entreprise : </div>{{ stage.entreprise.nomEnt }}</div>
                <div class="niveau_stage"><div class="param">Niveau : </div>{{ stage.niveau.libNiv }}</div>
                <div class="description_stage"> <div class="param">Description : </div>{{ stage.descStage }}</div>
                <div class="adresse_stage"><div class="param">Adresse : </div>{{ stage.adStage }}, {{ stage.cpStage }} {{ stage.villeStage }}</div>

                {#{% if stage.candidatures is not empty %}
                    {% for candidature in stage.candidatures %}
                    {% endfor %}
                {% endif %}
                #}
                {% if is_granted('ROLE_ENTREPRISE') and sujet.entreprise.id == usr.id %}
                    <div class="modifbtn">
                        <a class="btn btn-primary" href="{{ path('app_stage_update', {'id': stage.id }) }}" >Modifier</a>
                        <!-- Bouton pour ouvrir le Modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ stage.id }}" data-whatever="@{{ stage.id }}" >
                            Supprimer
                        </button>
                        <!-- Le Modal -->
                        <div class="modal" id="{{ stage.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">{{ stage.titreStage }}</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer ce stage ?
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-danger" href="{{ path('stage_delete', {'id': stage.id } )}}" >Supprimer</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

        {% endif %}
    {% endfor %}
{% endblock %}

