{% extends 'baseprofile.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block title %}Bienvenue{{ profile.nomEtud}}{% endblock %}
{% block body %}

    <h1>{{ profile.nomEtud|upper}} {{ profile.pnomEtud }} </h1>
    <h6> {{ profile.adEtud }}</h6> <h7>{{ profile.cpEtud }}</h7>
    <h8>{{ profile.villeEtud }}</h8>
    {% if profile.cvEtud is null %}
        <embed src="{{ asset('img/cvsae.pdf') }}" width=450 height=450 type='application/pdf'>
        {% else %}
        <embed src="{{ asset('img/usersCV/'~profile.CVEtud) }}" width=450 height=450 type='application/pdf'>
    {% endif %}

</div>



    <hr>

    <p><a href="{{ path('app_etudiant_update')}}">Modifier mes informations personnelles</a></p>


{% endblock %}