{% extends 'base.html.twig' %}
{% block title %}Modification{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="form">
    <div class="info">
    <h1>Modification des données de l'étudiant {{ profile.nomEtud }}</h1>
        {% include 'useravatar.html.twig'%}
    </div>
    <BR>
        {{ form_start(form, {'attr': {'class': 'flex-column formulaire'}}) }}
        {{ form_widget(form.pnomEtud,{'attr':{'class':'hidden-row'}}) }}
        <p>Adresse de l'étudiant</p> {{ form_widget(form.adEtud)}}<br>
        <p>Code Postal de l'étudiant</p> {{ form_widget(form.cpEtud)}}<br>
        <p>Ville de l'étudiant</p> {{ form_widget(form.villeEtud)}}<br>
        <p>email</p>  {{ form_widget(formUser.email) }}<br>
        <p>CV</p> {{ form_widget(form.CV) }}
    {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
